<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <h1>Bandz Make Her Dance</h1>
    <header>
      <% if current_user.nil? %>
        <a class="button_link" href="<%= new_user_url %>">Sign Up</a>
        <a class="button_link" href="<%= new_session_url %>">Log In</a>
      <% else %>  
        <form action="<%= session_url %>" method="POST">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Logout">
        </form>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
